fastapi==0.115.10
uvicorn==0.34.0
tensorflow==2.18.0
numpy==2.0.0  # Compatible with tensorflow==2.18.0
pillow==11.1.0
python-multipart==0.0.20
nest_asyncio==1.6.0
python-dotenv==1.0.1
pydantic[email]==2.9.2  # Includes email-validator for EmailStr
scikit-learn==1.5.2
pymongo[srv]==4.11.1
passlib[bcrypt]==1.7.4
python-jose==3.3.0
pyyaml==6.0.2
requests==2.32.3
twilio==9.5.1
phonenumbers==8.13.47
slowapi==0.1.9
emails==0.6